@charset "UTF-8";
@font-face {
    font-family: sh2;
    src: url('fontes/silent_hill/SLNTHLN.TTF');
    font-size: normal;
}
@font-face {
    font-family: Changa one;
    src: url('fontes/Changa_One/ChangaOne-Italic.ttf');
}

:root{
    --font-referenc: sh2;
    --font-principal: Changa one;
}
html body{
    min-height: 100vh;
    border: 1px solid black;
}

*{
    padding: 0;
    margin: 0;
}


header{
    background-color: black;
    text-align: center;
    color: aliceblue;
}
h1{
    font-family: var(--font-referenc);
    color: aliceblue;
    padding: 50px;
    font-size: 3em;
}
h2{
    font-family: var(--font-referenc);
    font-size: 2em;
}
h2 > a{
    text-decoration: none;
    color: black;
}
h2 a:hover{
    text-decoration: underline;
}
header p{
    padding-bottom: 20px;
}
header a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
   
}
header a:hover{
    text-decoration: underline;
    background-color: rgba(248, 3, 3, 0.158);
    transition-duration: 0.5s;
}
main{
    line-height: 2em;
    font-size: 1em;
    font-family: var(--font-principal);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15px;
    padding-right: 15px;
}
.imagem{
    background-color: rgb(43, 42, 42);
    color: rgb(255, 0, 0);
    box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.274);
    padding: 15px;
    height: 300px;
}
.imagem p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 4px;
    box-shadow: 3 px 3px 8px rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 30px;
    left: 25px;
}
.imagem2{
    background-color: rgb(43, 42, 42);
    color: rgb(255, 0, 0);
    box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.274);
    padding: 15px;
    height: 330px;
}

#foto_mary{
    background: url('imagens/mary-p.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#carta{
    background-image: url('imagens/cartash2-M.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



footer{
    background-color: rgba(0, 0, 0, 0.171);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}