@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}
a{
    display: block;
    color: white;
    padding: 20px;
    background-color: rgb(139, 27, 27);
    text-align: center; 
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    transition: decoration 0.5s;
}