@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    height: 100vh;
    position: relative;
    
}

body{
    background: url('../arquivos/imagens/fundo-preto.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
#celular{
    position: absolute;
    height: 627px;
    width: 311px;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../arquivos/imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 20px;

    width: 270px;
    height: 472px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    transition: tranform 0.5s;
}
