@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    height: 100vh;
    position: relative;
    
}

body{
    background: url('../arquivos/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
#celular{
    position: absolute;
    height: 627px;
    width: 311px;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../arquivos/imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

